@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
      --color-primary: #2f57ef;
      --primary-opacity: #2f57ef11;
      --color-secondary: #b966e7;
      --color-voilet: #800080;
      --bg-color: #f9f9ff;
      --color-pink: #db709322;
      --pink-opacity: #db70932222;
      --box-shadow: 0 0 10px rgb(0 0 0/15%);
      --main-color: #8e44ad;
      --red: #ed176f;
      --coral: #f7817f;
      --gradient: linear-gradient(90deg, var(--color-secondary), var(--color-pink));
      --gradient2: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-secondary), var(--color-primary));
      --black: #2c3e50;
      --white: #fff;
      --light-color: #ccc;
      --light-bg: #eee;
      --border: .1rem solid rgba(0,0,0,.2);
}
*{
      font-family: 'Nunito', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      text-decoration: none;
      border: none;
}
*::selection{
      background: var(--main-color);
      color: #fff;
}
*::-webkit-scroolbar{
      height: .5rem;
      width: .7rem;
      border-radius: 20px;
}
*::-webkit-scroolbar-track{
      background-color: transparent;
}
*::-webkit-scroolbar-thumb{
      background-color: var(--color-primary);
}
html{
      font-size: 62.5%;
      overflow-x: hidden;
}
body{
      background-color: var(--bg-color);
}
.btn{
      background-image: var(--gradient2);
      border-radius: 20px;
      text-align: center;
      padding: .5rem;
      color: var(--white);
      text-transform: capitalize;
      font-size: 2rem;
      cursor: pointer;
      padding: .8rem 2rem;
}
.btn:hover{
      background-image: var(--gradient);
}
section{
      padding: 2rem;
      max-width: 1200px;
      margin: 0 auto;
}
.flex-btn{
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
}
.message{
      position: sticky;
      top: 0%;
      background-color: var(--light-bg);
      padding: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
}
.message.form{
      max-width: 1200px;
      margin: 0 auto;
      background-color: var(--white);
      top: 2rem;
      border-radius: .5rem;
}
.message span{
      font-size: 2rem;
      color: var(--black);
}
.message i{
      font-size: 2.5rem;
      color: var(--red);
      cursor: pointer;
      transition: .2s linear;
}
.message i:hover{
      transform: rotate(90deg);
}
.empty{
      background-color: var(--primary-opacity);
      border-radius: .5rem;
      padding: 1.5rem;
      text-align: center;
      width: 100%;
      font-size: 2rem;
      color: var(--color-primary);
}
.heading{
      padding-bottom: 1.8rem;
      border-bottom: var(--border);
      font-size: 2.5rem;
      color: var(--black);
      text-transform: capitalize;
      margin-block: 2rem;
      text-align: center;
}
/*------------------header-section----------------*/
.header{
      background-color: var(--white);
      position: sticky;      
      top: 0%;
      left: 0%;
      right: 0%;
      z-index: 1000;
      box-shadow: 0px 5px 10px 0px #aaa;
      min-height: 30px !important; 
}
.header .flex{
      padding: 1.5rem 2rem;
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: space-between;      
}
.header .flex .search-form{
      width: 70rem;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 1.5rem 2rem;
      background-color: var(--primary-opacity);
}
.header .flex .search-form input{
      width: 100%;
      background: none;
      font-size: 2rem;
      color: var(--color-primary);
}
.header .flex .search-form button{
      font-size: 3rem;
      color: var(--color-primary);
      cursor: pointer;
      background: none;
}
.header .flex .search-form button:hover{
      color: var(--color-secondary);
}
.header .flex .icons div{
      font-size: 3rem;
      color: var(--white);
      border-radius: .5rem;
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.4rem;
      cursor: pointer;
      background-image: var(--gradient2);
      text-align: center;
      margin-left: .5rem;
      overflow: auto;
}
.header .flex .icons div:hover{
      background-image: var(--gradient);
}
.header .flex .profile {
      padding: 2rem;
      text-align: center;
      width: 40rem;
      transform: scale(0);
      transform-origin: top right;
      box-shadow: var(--box-shadow);
}
.header .flex .profile.active{
      transform: scale(1.0);
      transition: .2s linear;
}
.header .flex .profile img{
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      padding: .5rem;
      background-image: var(--gradient);
      margin-bottom: .5rem;
}
.header .flex .profile h3{
      font-size: 2rem;
      color: var(--black);
      margin-bottom: 2rem;
      text-transform: capitalize;
}
.header .flex .profile span{
      color: var(--light-color);
      font-size: 1.6rem;
      text-transform: capitalize;
}
.header .flex .profile .flex-btn{
      margin-top: 1.5rem;
}
/*------------------side bar---------------*/
.side-bar{
      position: fixed;
      top: 0%;
      left: -30rem;
      height: 100vh;
      width: 30rem;
      background-color: #fff;
      border-right: var(--border);
      z-index: 1200;
      transition: transform 0.5s ease-in-out;
      box-shadow: 0px 5px 10px 0px #aaa;
      transition: .5s linear;
}
.side-bar.active{
      left: 0;
}
.side-bar .profile{
      padding: 3rem 2rem;
}
.side-bar .profile img{
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: .5rem;
      padding: .5rem;
      background-color: var(--color-secondary);
}
.side-bar .profile h3{
      font-size: 2rem;
      color: var(--black);
      text-transform: capitalize;
      margin-bottom: 2rem;
}
.side-bar .profile p{
      color: var(--light-color);
      font-size: 1.6rem;
      margin-bottom: 2rem;
}
.side-bar .profile .flex-btn{
      margin-top: .5rem;
}
.side-bar .navbar a{
      display: block;
      padding: 2rem;
      margin: .5rem 0;
      font-size: 1.5rem;
}
.side-bar .navbar a i{
      color: var(--main-color);
      margin-right: 1.5rem;
      transition: .2s linear;
}
.side-bar .navbar a span{
      color: var(--light-color);
      text-transform: capitalize;
}
.side-bar .navbar a:hover{
      background-image: var(--gradient2);
}
.side-bar .navbar a:hover span{
      color: var(--white);
}
.side-bar .navbar a:hover i{
      color: var(--white);
      margin-right: 2.5rem;
}
/*------------form container (register vs)---------*/
.form-container{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      position: relative;
}
.form-img  {
      position: absolute;
      left: 0;
      width: 30%;
      z-index: -3;
}
.form-container form{
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      padding: 2rem;
}
.form-container .login{
      width: 50rem;
}
.form-container .register{
      width: 80rem;
}
.form-container form h3{
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: var(--color-primary);
      text-transform: capitalize;
      font-weight: bold;
}
.form-container form p{
      padding-top: 1rem;
      font-size: 1.7rem;
      color: var(--light-color);
}
.form-container form p span{
      color: var(--red);
}
.form-container .link{
      text-align: center;
      padding-bottom: 1rem;
      font-size: 2rem;
}
.form-container .link a{
      color: var(--main-color);
}
.form-container .link a:hover{
      color: var(--black);
      text-decoration: underline;
}
.form-container form .box{
      width: 100%;
      border-radius: .5rem;
      margin: 1rem 0;
      font-size: 1.8rem;
      color: var(--black);
      padding: 1.4rem;
      background-color: #fff;
      box-shadow: var(--box-shadow);
}
.form-container .flex{
      display: flex;
      gap: 2rem;
}
.form-container .flex .col{
      flex: 1 1 25rem;
}
.form-container .btn{
      width: 100%;
      font-size: 2rem;
}
/*--------------dashboard------------*/
.dashboard .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      align-items: flex-start;
      justify-content: center;
      gap: 1.5rem;  
}
.dashboard .box-container .box{
      padding: 2rem;
      border-radius: .5rem;
      background-color: var(--white);
      text-align: center;
      box-shadow: var(--box-shadow);
      line-height: 2;
}
.dashboard .box-container .box h3{     
      font-size: 2.5rem;
      color: var(--black);
      margin-bottom: 1.5rem;
}
.dashboard .box-container .box p{
      font-size: 2rem;
      color: var(--light-color);
      padding: .8rem 1.5rem;
      border-radius: .5rem;
      background-color: var(--light-bg);
      margin: 1rem 0;
      margin-bottom: 2rem;
      text-transform: capitalize;
}
/*--------------tutor profile------------*/
.tutor-profile .details{
      box-shadow: var(--box-shadow);
      background-color: #fff;
      border-radius: .5rem;
      padding: 4rem 2rem;
      text-align: center;
}
.tutor-profile .details .tutor{
      margin-bottom: 2rem;
}
.tutor-profile .details .tutor img{
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: .5rem;
      padding: .5rem;
      background-image: var(--gradient);
}
.tutor-profile .details .tutor span{
      font-size: 1.8rem;
      color: var(--light-color);
      display: block;
      margin-bottom: 2rem;
      text-transform: capitalize;
}
.tutor-profile .details .flex{
      display: flex;
      gap: 1.5rem;
      align-items: center;
      flex-wrap: wrap;
      margin: 4rem 0;
}
.tutor-profile .details .flex .box{
      flex: 1 1 26rem;
      border-radius: .5rem;
      background-color: #cccccc33;
}
.tutor-profile .details .tutor h3{
      font-size: 2.5rem;
      margin: .5rem 0;
      text-transform: capitalize;
}
.tutor-profile .details .flex span{
      color: var(--main-color);
      display: block;
      margin-bottom: .5rem;
      font-size: 2.5rem;
      text-transform: capitalize;
}
.tutor-profile .details .flex .box p{
      font-size: 2rem;
      color: var(--black);
      padding: .5rem 0;
      margin-bottom: 1rem;
      text-transform: capitalize;
}
/*-------------playlist section--------------*/
.playlists{
      padding: 3rem 0;
      position: relative;
}
.playlist-form form{
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      padding: 2rem;
      padding-top: 1rem;
      max-width: 50vw;
      margin: 2rem auto;
}
.playlist-form form p{
      font-size: 1.7rem;
      color: var(--light-color);
      padding-top: 1rem;
      text-transform: capitalize;
}
.playlist-form form p span{
      color: var(--red);
}
.playlist-form form .box{
      margin: 1rem 0;
      border-radius: .5rem;
      padding: 1.4rem;
      font-size: 1.8rem;
      color: var(--black);
      box-shadow: var(--box-shadow);
      width: 100%;
}
.playlist-form form textarea{
      height: 20rem;
      resize: none;
}
.playlist-form form .thumb{
      height: 22rem;
      margin-top: 1rem;
      position: relative;
}
.playlist-form form .btn{
      width: 100%;
}
.playlist-form form .thumb img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: .5rem;
}
.playlist-form form .thumb span{
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      border-radius: .5rem;
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: .5rem 1.5rem;
      font-size: 2rem;
}
.playlists .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, 50rem);
      align-items: flex-start;
      justify-content: center;
      gap: 1.5rem;
}
.playlists .box-container .add,
.content .add{
      position: absolute;
      right: -10%;
      top: 3%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: var(--gradient2);
}
.playlists .box-container .add i,
.content .add{
      font-size: 3rem;
      color: #fff;
}
.playlists .box-container .add:hover,
.content .add:hover{
      background-image: var(--gradient);
}
.playlists .box-container .box{
      background-color: #fff;
      border-radius: .5rem;
      padding: 2rem;
      overflow-x: hidden;
      box-shadow: var(--box-shadow);
}
.playlists .box-container .box .thumb{
      height: 20rem;
      position: relative;
      margin: 1.5rem 0;
}
.playlists .box-container .box .flex{
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: space-between;
}
.playlists .box-container .box i{
      font-size: 1.5rem;
      color: var(--main-color);
      margin-right: .7rem;
}
.playlists .box-container .box .flex span{
      color: var(--light-color);
      font-size: 1.7rem;
}
.playlists .box-container .box .thumb img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: .5rem;
}
.playlists .box-container .box .thumb span{
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      border-radius: .5rem;
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: .5rem 1.5rem;
      font-size: 2rem;
}
.playlists .box-container .box .title{
      font-size: 2rem;
      color: var(--black);
      margin-bottom: 1rem;
      text-transform: capitalize;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
}
.playlists .box-container .box .description{
      line-height: 2;
      font-size: 1.7rem;
      color: var(--light-color);
      margin-bottom: 1rem;
}
.playlists .box-container .box .description::after{
      content: '...';
}









/*--------------footer------------*/
.newsletter{
      background-image: url('../image/dots.png');
      background-repeat: no-repeat;
      background-color: #2f57ef;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4% 0;
      color: #fff;
      text-align: center;
      line-height: 1.5;
}
.newsletter span{
      font-size: 1.5rem;
      background-color: #fff;
      text-transform: uppercase;
      border-radius: 15px;
      padding: .5rem 1rem;
}
.newsletter h1{
      font-size: 4rem;
      margin: .5rem;
}
.newsletter .input-field{
      margin: 1rem 0;
}
.newsletter .input-field input{
      padding: 1rem;
      border-radius: 10px;
      width: 30vw;
}
.newsletter .btn{
      border-radius: 10px;
      border: 1px solid #fff;
      padding: .6rem 2rem;
      font-size: 2rem;
}
.newsletter .box-container{
      display: flex;
      justify-content: center;
      align-items: center;
}
.newsletter .box-container .box{
      background-color: #ffffff21;
      margin: 1rem;
      padding: 2rem;
      border-radius: 10px;
}
.newsletter .box-counter{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
}
.newsletter .box-counter .counter,
.newsletter .box-counter i{
      font-size: 3.5rem;
}
.newsletter .box-container h3{
      font-size: 2.3rem;
}
.newsletter p{
      font-size: 1.7rem;
}
footer{
      background-image: url("../image/category-9.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding: 8% 4%;
      position: relative;
}
footer p{
      font-size: 1.7rem;
}
footer .content  {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      justify-content: center;
      line-height: 1.5;
      color: #000;
}
footer .content .btn{
      width: 300px;
      font-size: 1.5rem;
      color: #fff !important;
}
footer .content img{
      width: 150px;
}
footer .content h3{
      font-size: 2rem;
      text-transform: capitalize;
      color: var(--color-primary);
}
footer .content a{
      display: block;
      text-transform: capitalize;
      font-size: 18px;
      color: #000;
}
footer .content a:hover{
      color: var(--color-voilet);
}
.icons{
      margin-top: 1rem;
}
.icons i{
      font-size: 2.5rem;
      margin: 0 .5rem;
      cursor: pointer;
}
.icons i:hover{
      color: var(--color-secondary);
}
footer .bottom{
      width: 90%;
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 2px solid #fff;
      padding: 2rem 0;
}
footer .bottom a{
      font-size: 1.1rem;
      color: #000;
      text-transform: capitalize;
}





















/*------------media screen---------*/
@media (max-width:768px) {
      #search-btn{
            display: inline-block;
      }
      .header .flex .search-form{
            position: absolute;
            top: 99%;
            width: 99%;
            border-top: var(--border);
            border-bottom: var(--border);
            background-color: var(--white);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .2s linear;
      }
      .header .flex .search-form.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);     
      }
}